<% if true %>
  <h3 class>Your Weather Cards</h3><hr/>

  <% @all_cities_weather.each do |city, weather_data| %>
    <div class="d-flex">
      <%= render partial: 'weather_card',
                  locals: { location: weather_data["location"], weather_current: weather_data["current"],
                            weather_forecast: weather_data["forecast"]["forecastday"] } %>
    </div>
  <% end %>

<% else %>
  <div class="m-5 text-center">
    <h5>We don't find any weather card add to you account.</h5>
    <p>Get start by adding one
      <%= link_to 'Add Weather Card', new_weather_dashboard_path %>
    </p>
  </div>
<% end %>
