<% if @all_cities_weather.present? %>
  <h3 class>Your Weather Cards</h3><hr/>
<div class="row">
  <% @all_cities_weather.each do |city, weather_data| %>

      <div class="col-md-6 col-sm-12 col-lg-6  mb-3">
        <%= render partial: 'weather_card',
                    locals: { location: weather_data["location"], weather_current: weather_data["current"],
                              weather_forecast_today: weather_data["forecast"]["forecastday"].first,
                              weather_forecast_future: weather_data["forecast"]["forecastday"][1..-1],
                              city: city } %>
      </div>

  <% end %>
 </div>
<% else %>
  <div class="m-5 text-center">
    <h5>We don't find any weather card add to you account.</h5>
    <p>Get start by adding one
      <%= link_to 'Add Weather Card', new_weather_dashboard_path %>
    </p>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    setInterval(() => {
      window.location.reload();
    }, 60000);
  });
</script>
