/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

.btn-to-link-navbar {
  background: #20252900;
  padding: 0;
  border: 0;
  margin: 0px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
  height: 100%;
}

body {
	font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #333333;
  font-weight: 300;
}

.fw-500{
  font-weight: 500;
}

.weatherInfo.card{
  border-radius: 16px;
  background: url(../images/sky-bg.jpg);
  position: relative;
  z-index: 1;
  background-size: cover;
}

.weatherInfo.card::before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgb(4 8 65 / 90%);
  z-index: -1;
  border-radius: 16px;
}


.weather-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  grid-gap: 5px;
}

.weather-grid-top{
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
}

.weather-grid > div {
  padding: .5em 0.2em;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
}

.weather-hover .weather-card:hover{
  background-color: #161b3c;
  border-radius: 16px;
}
